h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(107, 78, 113);
  font-size: 2em;
}
h2,
h3 {
  color: rgb(107, 78, 113);
}
p {
  color: rgb(83, 104, 126);
}
body {
  background-color: rgb(194, 178, 180);
  text-align: justify;
  font-size: 20px;
}
em {
  font-weight: bolder;
}
li {
  color: rgb(58, 68, 84);
}

#email {
  color: rgb(25, 90, 160);
}

.lista-destaques{
    line-height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lista-outros{
    font-family: fantasy;

}
