@import url("https://fonts.googleapis.com/css2?family=Balthazar&family=Press+Start+2P&display=swap");
/* 
font-family: 'Balthazar', serif;
font-family: 'Press Start 2P', cursive; */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.cabecalho {

}
.corpo {
  color: white;
  display: flex;
  flex-direction: row;
  height: 1060px;
}
.meio {
  background-color: rgb(18, 18, 18);
  padding: 24px;
  flex-basis: 40%;
}

.titulo {
  font-family: "Balthazar", serif;
  padding-top: 86px;
  padding-bottom: 100px;
}
.titulo h1 {
  font-size: 39px;
  font-family: "Press Start 2P", cursive;
  padding: 0px 12px;
}
.titulo span,
.titulo h2 {
  font-size: 24px;
  padding: 0px 12px;
}
.subtitulo h2 {
  font-size: 28px;
}

.esquerda,
.direita {
  background-color: rgb(254, 212, 58);
}
.esquerda {
  width: 200px;
  flex-basis: 10%;
}
.direita {
  flex-basis: 60%;
}
.perfil {
  width: 300px;
  padding: 24px;
  display: block;
  margin: 0 auto;
}
