body {
  font-family: "Ubuntu", sans-serif;
  font-size: 25px;
  /* background-color: #127475; */
  /* background-color: #0E9594; */
  /* background-color: #562C2C; */
  background-color: #353535;
  /* background-color: #8A897C; */



  color: #f5dfbb;
}
h1 {
  font-size: 2em;
  color: goldenrod;
}

.lista-outros {
  font-size: 0.8em;
}

#tracejado {
  text-decoration: line-through;
  font-size: 0.8em;
}
a {
  text-decoration: none;
  color: goldenrod;
}
